<h1 class="shortMasthead__headline enterAnimation enterAnimation--active" data-enter-animation="">{{ page.title }}</h1>
<h2 class="shortMasthead__subheadline enterAnimation enterAnimation--active" data-enter-animation=""></h2>
<div class="shortMasthead__body enterAnimation enterAnimation--active" data-enter-animation="">
   <p style="text-align: center;"></p>
   <p style="text-align: center;">&nbsp;<img class="aligncenter size-full wp-image-5347" src="/apis/assets/Streamdataio-API-Gallery.jpg" alt="" width="800" height="200"></p>
   <p style="text-align: center;">What can you expect from streaming compared to polling an API?</p>
   <p style="text-align: center;">We also asked ourselves this very same question, so we decided to perform tests on some APIs.<br>
      You can discover more regarding what is possible with Streamdata.io below.
   </p>
   <p style="text-align: center;">Want us to test an API? Feel free to send it to us using the form at the bottom of the page.</p>
</div>
