<div class="submitApi__container">
   <div class="submitApi__imageContainer">
      <img class="submitApi__image" src="http://template.api.gallery.streamdata.io/assets/iphone_submit.png" alt="">
   </div>
   <div class="submitApi__formContainer">
      <h2 class="submitApi__headline">Submit Your API</h2>
      <h3 class="submitApi__subheadline">Join the gallery to find out how much you can save with Streamdata.io.</h3>
      <div class="submitApi__form">
         <form action="https://go.pardot.com/l/272652/2018-02-07/2fv1m" method="POST" class="form" novalidate="" data-parsley-errors-messages-disabled="">
            <div class="form__input-container">
               <input type="text" name="first_name" value="" size="40" class="form__input form__input--half form__input--dark" aria-required="true" aria-invalid="false" placeholder="*First Name">
               <input type="text" name="last_name" value="" size="40" class="form__input form__input--half form__input--dark" aria-required="true" aria-invalid="false" placeholder="*Last Name">
               <input type="text" name="company" value="" size="40" class="form__input form__input--dark" aria-invalid="false" placeholder="Company">
               <input type="email" name="email" value="" size="40" class="form__input form__input--dark" aria-required="true" aria-invalid="false" placeholder="*Email">
            </div>
            <div class="form__inline">
               <input type="text" name="api_url" value="" size="40" class="form__input form__input--dark" aria-required="true" aria-invalid="false" placeholder="*API URL">
               <input type="submit" value="Submit" class="form__button button button--blue-gradient button--noBorder">
            </div>
         </form>
      </div>
   </div>
</div>
