{% assign api_name = apis_json.name %}
{% assign api_description = apis_json.description %}
{% assign api_image = apis_json.image %}
{% assign api_json_url = apis_json.url %}
{% assign api_json_kin_rank = apis_json.x-kinRank %}
{% assign api_json_alexa_rank = apis_json.x-alexaRank %}

{% assign api_url = "" %}

{% assign api_json_openapi_spec = "" %}
{% assign api_json_postman_collection = "" %}
{% assign api_json_asyncapi_url = "" %}

{% for api in apis_json.apis %}

   {% if api.name == page.info.title %}

    {% assign api_url = api.humanURL %}

     {% for property in api.properties %}

       {% if property.type == 'x-openapi-spec' %}
         {% assign api_json_openapi_spec = property.url %}
       {% endif %}

       {% if property.type == 'x-postman-collection' %}
         {% assign api_json_postman_collection = property.url %}
       {% endif %}

       {% if property.type == 'x-asyncapi-spec' %}
         {% assign api_json_asyncapi_url = property.url %}
       {% endif %}

     {% endfor %}

   {% endif %}
 {% endfor %}
