<footer class="footer">
   <div class="footer__container">
      <div class="footer__newsletter">
         <p class="footer__newsletterTitle">Sign up to our newsletter for news, updates, and Japanese emojis!</p>
         <form class="footer__newsletterForm" validate="" action="https://go.pardot.com/l/272652/2018-02-07/2fv23" method="POST">
            <div class="form__inline footer__newsletterInput">
               <input class="form__input" required="" name="email" type="text" placeholder="Email...">
               <button class="button button--thin button--gradient button--noBorder" type="submit">
                  <div class="button__content">Subscribe</div>
               </button>
            </div>
         </form>
      </div>
      <h4 class="footer__title">Simpler data streaming for greater everything.</h4>
      <nav class="footer__primaryNav">
         <ul class="footer__primaryNavList">
            <li class="footer__primaryNavListItem">
               <a class="footer__primaryNavLink " href="https://streamdata.io/product/">
               Product
               </a>
               <ul class="footer__primaryNavSubList ">
                  <li class="footer__primaryNavSubListItem">
                     <a class="footer__primaryNavSubLink" href="https://streamdata.io/product/data-providers/">
                     Data Providers
                     </a>
                  </li>
                  <li class="footer__primaryNavSubListItem">
                     <a class="footer__primaryNavSubLink" href="https://streamdata.io/product/devices-desktop/">
                     Devices &amp; Desktop
                     </a>
                  </li>
                  <li class="footer__primaryNavSubListItem">
                     <a class="footer__primaryNavSubLink" href="https://streamdata.io/product/machine-learning/">
                     Machine Learning
                     </a>
                  </li>
               </ul>
            </li>
            <li class="footer__primaryNavListItem">
               <a class="footer__primaryNavLink " href="https://streamdata.io/developers/">
               Developers
               </a>
               <ul class="footer__primaryNavSubList footer__primaryNavSubList--twoColumn">
                  <li class="footer__primaryNavSubListItem">
                     <a class="footer__primaryNavSubLink" href="https://streamdata.io/developers/getting-started/">
                     Getting Started
                     </a>
                  </li>
                  <li class="footer__primaryNavSubListItem">
                     <a class="footer__primaryNavSubLink" href="https://streamdata.io/developers/api-gallery/">
                     API Gallery
                     </a>
                  </li>
                  <li class="footer__primaryNavSubListItem">
                     <a class="footer__primaryNavSubLink" href="https://streamdata.io/developers/demos/">
                     Demos
                     </a>
                  </li>
                  <li class="footer__primaryNavSubListItem">
                     <a class="footer__primaryNavSubLink" href="https://streamdata.io/developers/docs/">
                     Docs
                     </a>
                  </li>
                  <li class="footer__primaryNavSubListItem">
                     <a class="footer__primaryNavSubLink" href="https://streamdataio.github.io/streamdataio-js/">
                     SDK Docs
                     </a>
                  </li>
               </ul>
            </li>
            <li class="footer__primaryNavListItem">
               <a class="footer__primaryNavLink " href="https://streamdata.io/about-us/">
               Company
               </a>
               <ul class="footer__primaryNavSubList footer__primaryNavSubList--twoColumn">
                  <li class="footer__primaryNavSubListItem">
                     <a class="footer__primaryNavSubLink" href="https://streamdata.io/about-us/">
                     About Us
                     </a>
                  </li>
                  <li class="footer__primaryNavSubListItem">
                     <a class="footer__primaryNavSubLink" href="https://streamdata.io/pricing/">
                     Pricing
                     </a>
                  </li>
                  <li class="footer__primaryNavSubListItem">
                     <a class="footer__primaryNavSubLink" href="https://streamdata.io/blog/">
                     Blog
                     </a>
                  </li>
                  <li class="footer__primaryNavSubListItem">
                     <a class="footer__primaryNavSubLink" href="https://streamdata.io/partners/">
                     Partners
                     </a>
                  </li>
                  <li class="footer__primaryNavSubListItem">
                     <a class="footer__primaryNavSubLink" href="https://streamdata.io/terms-conditions/">
                     Terms Of Service
                     </a>
                  </li>
                  <li class="footer__primaryNavSubListItem">
                     <a class="footer__primaryNavSubLink" href="https://streamdata.io/privacy-policy/">
                     Privacy Policy
                     </a>
                  </li>
                  <li class="footer__primaryNavSubListItem">
                     <a class="footer__primaryNavSubLink" href="https://streamdata.io/contact/">
                     Contact Us
                     </a>
                  </li>
               </ul>
            </li>
         </ul>
      </nav>
      <div class="footer__bottom">
         <script type="text/javascript" src="http://template.api.gallery.streamdata.io/assets/se-v2.js"></script>
         <span class="siteStatus" data-site-status="">
            <svg class="siteStatus__icon">
               <circle cx="6" cy="6" r="5" stroke="#417505" stroke-width="2" fill="#7ED321"></circle>
            </svg>
            <a href="https://status.streamdata.io/"><span class="siteStatus__message status-none">All Systems Operational</span></a>
         </span>
         <span class="footer__social">
         <a href="https://twitter.com/streamdataio" target="_blank"><img class="footer__socialItem" src="http://template.api.gallery.streamdata.io/assets/share-bar-twitter.svg" title="Twitter" alt=""></a>
         <a href="https://github.com/streamdataio" target="_blank"><img class="footer__socialItem" src="http://template.api.gallery.streamdata.io/assets/share-bar-github.svg" title="GitHub" alt=""></a>
         <a href="https://www.linkedin.com/company/streamdata-io" target="_blank"><img class="footer__socialItem" src="http://template.api.gallery.streamdata.io/assets/share-bar-linkedIn.svg" title="LinkedIn" alt=""></a>
         </span>
      </div>
   </div>
   <div class="footer__sub">
      <div class="footer__subContainer">
         <a class="footer__subLogo" href="https://streamdata.io/"><img src="http://template.api.gallery.streamdata.io/assets/streamdata-logo-white.svg" alt="streamdata.io logo"></a>
         <p class="footer__subCopyright">
            © 2018 Streamdata.io All rights reserved
         </p>
      </div>
   </div>
</footer>
