
      <header class="header header--fixed header--notBottom header--pinned header--top">
         <div class="header__container">
            <a href="https://streamdata.io/developers/api-gallery/#" class="header__hamburger">
               <div class="header__hamburgerContainer">
                  <span class="header__hamburgerBar header__hamburgerBar--top"></span>
                  <span class="header__hamburgerBar header__hamburgerBar--middle"></span>
                  <span class="header__hamburgerBar header__hamburgerBar--bottom"></span>
               </div>
            </a>
            <a class="header__logo" href="https://streamdata.io/"><img src="http://template.api.gallery.streamdata.io/assets/streamdata-logo.svg" alt="Streamdata.io Logo"></a>
            <nav class="header__primaryNav">
               <ul class="header__primaryNavList">
                  <li class="header__primaryNavListItem">
                     <a class="header__primaryNavLink " href="https://streamdata.io/product/">
                        Product
                        <svg class="header__primaryNavLinkArrow">
                           <use xlink:href="http://template.api.gallery.streamdata.io/assets/symbol-defs.svg#chevron-down"></use>
                        </svg>
                     </a>
                     <div class="header__primaryNavSubListContainer">
                        <ul class="header__primaryNavSubList">
                           <li class="header__primaryNavSubListItem">
                              <a class="header__primaryNavSubLink" href="https://streamdata.io/product/data-providers/">
                              Data Providers
                              </a>
                           </li>
                           <li class="header__primaryNavSubListItem">
                              <a class="header__primaryNavSubLink" href="https://streamdata.io/product/devices-desktop/">
                              Devices &amp; Desktop
                              </a>
                           </li>
                           <li class="header__primaryNavSubListItem">
                              <a class="header__primaryNavSubLink" href="https://streamdata.io/product/machine-learning/">
                              Machine Learning
                              </a>
                           </li>
                        </ul>
                     </div>
                  </li>
                  <li class="header__primaryNavListItem">
                     <a class="header__primaryNavLink " href="https://streamdata.io/developers/">
                        Developers
                        <svg class="header__primaryNavLinkArrow">
                           <use xlink:href="http://template.api.gallery.streamdata.io/assets/symbol-defs.svg#chevron-down"></use>
                        </svg>
                     </a>
                     <div class="header__primaryNavSubListContainer">
                        <ul class="header__primaryNavSubList">
                           <li class="header__primaryNavSubListItem">
                              <a class="header__primaryNavSubLink" href="https://streamdata.io/developers/docs/">
                              Docs
                              </a>
                           </li>
                           <li class="header__primaryNavSubListItem">
                              <a class="header__primaryNavSubLink" href="https://streamdata.io/developers/demos/">
                              Demos
                              </a>
                           </li>
                           <li class="header__primaryNavSubListItem">
                              <a class="header__primaryNavSubLink" href="https://streamdata.io/developers/getting-started/">
                              Getting Started
                              </a>
                           </li>
                           <li class="header__primaryNavSubListItem">
                              <a class="header__primaryNavSubLink" href="http://api.gallery.streamdata.io/">
                              API Gallery
                              </a>
                           </li>
                        </ul>
                     </div>
                  </li>
                  <li class="header__primaryNavListItem">
                     <a class="header__primaryNavLink " href="https://streamdata.io/pricing/">
                     Pricing
                     </a>
                  </li>
                  <li class="header__primaryNavListItem">
                     <a class="header__primaryNavLink " href="https://streamdata.io/blog/">
                     Blog
                     </a>
                  </li>
               </ul>
               <div class="header__mobile-cta">
                  <div><a href="https://portal.streamdata.io/?_ga=2.9625269.1899764506.1516547906-820332238.1511881229#/login" class="header__mobile-cta__login">Login</a></div>
                  <div><a href="https://portal.streamdata.io/?_ga=2.9625269.1899764506.1516547906-820332238.1511881229#/register" class="header__mobile-cta__signup">Sign up</a></div>
               </div>
               <a href="https://portal.streamdata.io/?_ga=2.9625269.1899764506.1516547906-820332238.1511881229#/login" class="header__login">
                  <svg class="header__login-icon">
                     <use xlink:href="http://template.api.gallery.streamdata.io/assets/symbol-defs.svg#avatar"></use>
                  </svg>
               </a>
               <a href="https://portal.streamdata.io/?_ga=2.9625269.1899764506.1516547906-820332238.1511881229#/register" class="header__button button button--gradient">
                  <div class="button__content">Get Started</div>
               </a>
            </nav>
         </div>
      </header>
