<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="page  page--cover   page--top " style="background-image: url('http://template.streamdata.gallery/assets/demos-background.png')" data-feedly-extension-follow-feed="1.0.3">

  {% include header.html %}
  {{ content }}
  {% include footer.html %}

  <script type="text/javascript" src="http://template.streamdata.gallery/assets/scripts.js"></script>
  <script type="text/javascript" src="http://template.streamdata.gallery/assets/wp-embed.min.js"></script>
  <script type="text/javascript" src="http://template.streamdata.gallery/assets/se-v2.js"></script>
  <script defer="" src="http://template.streamdata.gallery/assets/svgxuse.js"></script>
  <script src="http://template.streamdata.gallery/assets/vendor.js"></script>
  <script src="http://template.streamdata.gallery/assets/bundle.js"></script>
</body>
</html>
